body {
    background-color: #419197;
}

.container {
    background-color: white;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;

}

.btn-primary,
.profile-button {
    background-color: blue;
    border: none;
}

.btn-primary:hover,
.profile-button:hover {
    background-color: #5caaa0;
}

.labels {
    color: black;
    font-weight: bold;
}
