body {
    background: rgba(1, 4, 136, 0.9);
}

.form-control:focus {
    box-shadow: none;
    border-color: rgba(1, 4, 136, 0.9);
}

.profile-button {
    background:rgba(1, 4, 136, 0.9);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background:rgba(2, 4, 95, 0.9);
}

.profile-button:focus {
    background:rgba(1, 4, 136, 0.9);
    box-shadow: none
}

.profile-button:active {
    background:rgba(1, 4, 136, 0.9);
    box-shadow: none
}

.back:hover {
    color: rgba(1, 4, 136, 0.9);
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: rgba(2, 4, 95, 0.9);
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}